tmp/reports.odd_expanded.odd

<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:xh="http://www.w3.org/1999/xhtml" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Schema and Documentation for the <title level="m">Wilde Trials News
                  Archive</title> Reports</title>
         </titleStmt>
         <publicationStmt>
            <p>This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike
               4.0 International License.</p>
         </publicationStmt>
         <sourceDesc>
            <p>Created to provide a highly constrained XHTML 5 vocabulary for the report
               transcriptions in the Wilde Trails News Archive.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <front>
         <div>
            <head>
               <title>Wilde Trials News Archive</title>
            </head>
         </div>
      </front>
      <body>
         
            
<div xml:space="preserve" xml:id="helpful_links">
  <head>Helpful Links</head>
  <list type="unordered">
    <item>
      <p><ref target="https://github.com/join">Join GitHub</ref></p>
    </item>
    <item>
      <p><ref target="https://desktop.github.com/">GitHub Desktop
      Application</ref></p>
    </item>
    <item>
      <p><ref target="https://docs.github.com/en/desktop">GitHub Desktop
      Documentation</ref></p>
    </item>
    <item>
      <p><ref target="https://github.com/sfu-dhil/wilde-reports">Wilde
      Reports Repository (private)</ref></p>
    </item>
    <item>
      <p><ref target="https://github.com/sfu-dhil">SFU DHIL @
      GitHub</ref></p>
    </item>
    <item>
      <p><ref target="https://html.com/">HTML Tutorial</ref> But also
      note that we use a very limited subset of HTML tags and
      attributes.</p>
    </item>
    <item>
      <p><ref target="https://www.oxygenxml.com/xml_editor/download_oxygenxml_editor.html">oXygenXML
      Editor</ref> Members of the Wilde Trials team should contact the
      DHIL for a license key.</p>
    </item>
  </list>
</div>

<div xml:space="preserve" xml:id="getting_started">
  <head>Getting Started</head>
  <div xml:id="setting-up">
    <head>Setting up</head>
    <p>Before working on the Wilde Reports, there are two pieces of
    software you will need to install: oXygen XML Editor and Github
    Desktop. You will also need a Github account.</p>
    <list type="unordered">
      <item>
        <p>Provide the DHIL with your GitHub account username. If you do
        not have a GitHub account, you can create a free account here:
        <ref target="https://github.com/join">https://github.com/join</ref>.</p>
      </item>
      <item>
        <p>Download and install
        oXygen:<ref target="https://www.oxygenxml.com/xml_editor/download_oxygenxml_editor.html">https://www.oxygenxml.com/xml_editor/download_oxygenxml_editor.html</ref>.
        Members of the team should contact the DHIL for a license
        key.</p>
      </item>
      <item>
        <p>Download and install the GitHub desktop client:
        <ref target="https://desktop.github.com/">https://desktop.github.com/</ref></p>
      </item>
    </list>
  </div>
  <div xml:id="getting-a-copy-of-the-reports">
    <head>Getting a copy of the reports</head>
    <list type="unordered">
      <item>
        <p>Create a fork of the Wilde Trials repository</p>
      </item>
      <item>
        <p>Use GitHub Desktop to clone your fork of the repository to
        your computer</p>
      </item>
    </list>
  </div>
  <div xml:id="setting-up-oxygen">
    <head>Setting up oXygen</head>
    <list type="unordered">
      <item>
        <p>Open oXygen</p>
      </item>
      <item>
        <p>If this is your first time opening oXygen, you can close most
        of the panes on the right-hand and bottom side of your editor
        window. Make sure, however, that you retain the Project
        pane.</p>
      </item>
      <item>
        <p>In the toolbar, click
        <code>Project/Open Project</code> and navigate to the
        <code>wilde-reports</code> directory.</p>
      </item>
      <item>
        <p>Open the <code>reports.xpr</code> file and accept
        the popup notification from oXygen.</p>
      </item>
    </list>
  </div>
</div>

<div xml:space="preserve" xml:id="workflow">
  <head>Workflow</head>
  <div xml:id="updating-your-repository">
    <head>Updating your Repository</head>
    <p>Update your local copy of the repository by merging any changes
    from the upstream repository. To do so:</p>
    <list type="unordered">
      <item>
        <p>Open GitHub Desktop and click the branch tab (the second tab
        on the top; it will say something like "main"):
        <figure>
          <figDesc>Branch Menu</figDesc>
          <graphic url="images/branch_menu.png"/>
        </figure></p>
      </item>
      <item>
        <p>In the branch menu, click Choose branch to merge into
        <hi rendition="simple:bold">main</hi>: <figure>
          <figDesc>Choose branch merge</figDesc>
          <graphic url="images/choose_branch_merge.png"/>
        </figure></p>
      </item>
      <item>
        <p>Click on "upstream/main": <figure>
          <figDesc>Select upstream main</figDesc>
          <graphic url="images/select_upstream_main.png"/>
        </figure></p>
      </item>
      <item>
        <p>Depending on whether your repository is up to date:</p>
        <list type="unordered">
          <item>
            <p>If there are no changes to merge (This branch is up to
            date ...), then you're done!</p>
          </item>
          <item>
            <p>If there are changes to merge (This will merge x
            commits...), then click Merge upstream/main</p>
          </item>
        </list>
      </item>
    </list>
  </div>
  <div xml:id="editing-in-oxygen">
    <head>Editing in oXygen</head>
    <p>All work on the reports should be done in oXygen. It is an
    incredibly powerful and useful tool for editing XML &amp; XHTML and
    there are a number of custom features and tools that will editing
    easier and more efficient.</p>
    <p>When you open oXygen, make sure you see the
    <code>reports.xpr</code> project in the oXygen project
    pane (usually on the left-hand side):</p>
    <p><figure>
      <figDesc>Project pane</figDesc>
      <graphic url="images/oxygen_splash.png"/>
    </figure></p>
    <p>oXygen remembers the last project you opened, so it will usually
    use the <code>wilde-reports</code> project file
    automatically. If, for whatever reason, you are not in the
    <code>wilde-reports</code> project, make sure to open the
    project file by going to <code>Project/Open Project</code>
    in the toolbar. You can use the Project pane to navigate through the
    project files; all of the HTML files are in the
    <code>reports/</code> folder.</p>
    <p>On your system, the folder may be called something else in oXygen
    (<hi rendition="simple:italic">wilde-reports</hi> is pretty likely).
    This is normal and expected. Besides, "reports" is a
    terrible name. It has been around for so long we cannot really
    change it anymore.</p>
    <p>As you edit the HTML files in oXygen, it is imperative that you
    frequently and consistently validate your file. Invalidities in an
    oXygen are signalled much like spell-check: the invalid element is
    underlined in red and its location in the document is marked in the
    scrollbar.</p>
    <p>oXygen validates for you automatically as you type, but it might
    lag (especially for large or complex documents), so it is best
    practice to trigger validation manually as well, especially before
    committing your changes.</p>
    <p>To validate your document, you can either use the keyboard
    shortcut CMD+Shift+V (CMD = ⌘ on Mac) or click the red checkmark in
    the toolbar:</p>
    <p><figure>
      <figDesc>Validate</figDesc>
      <graphic url="images/oxygen_validation_valid.png"/>
    </figure></p>
    <p>Once the document finishes validating, there will be a message at
    the bottom of the screen stating whether validation was successful.
    If there are errors in your document and validation fails, you will
    see the red underlines and a info box at the bottom of the screen
    that outlines the precise errors.</p>
    <p><figure>
      <figDesc>Validation errors</figDesc>
      <graphic url="images/oxygen_validation_errors.png"/>
    </figure></p>
    <p>Try your best to determine what the error is: the validation
    message usually provides a good indication of what the error is
    (some are more helpful than others); the problem is quite often
    something simple like a typo, an errant space at the beginning or
    end of an element, or a missing quotation mark.</p>
    <p>If you can't figure out the error, then it is OK to commit the
    file, but do let the team and the developers know right away so that
    the error can be resolved as soon as possible.</p>
    <p>If you find an error message that is very unhelpful, and can
    think of better wording to make the error and appropriate resolution
    clear, please file a
    <ref target="https://github.com/sfu-dhil/wilde-schema/issues">GitHub
    Issue</ref> and provide an example of the error and suggested
    improvement.</p>
  </div>
  <div xml:id="cleaning-up-old-reports">
    <head>Cleaning Up Old Reports</head>
    <p>The guidelines for creating and editing reports have changed over
    time. The reports should have been updated to the most recent
    guidelines, but you may find some reports that have tags that we no
    longer use, or tags that are generated as part of the text
    processing.</p>
    <p>We have automated as much of the clean up as possible. To clean
    this cruft from your document, you can either use the keyboard
    shortcut CMD+Shift+T (CMD = ⌘ on Mac) or click the red play icon in
    the toolbar (which oXygen unhelpfully calls
    <hi rendition="simple:italic">Apply Transformation
    Scenario</hi>).</p>
    <p>Before: <figure>
      <figDesc>Cleanup Before</figDesc>
      <graphic url="images/oxygen_cleanup_before.png"/>
    </figure></p>
    <p>After: <figure>
      <figDesc>Cleanup After</figDesc>
      <graphic url="images/oxygen_cleanup_after.png"/>
    </figure></p>
    <p>The cleanup script has removed the all the unnecessary,
    redundant, and generated content. These parts of the report have all
    been removed:</p>
    <list type="unordered">
      <item>
        <p>The XML processing instruction
        <gi>?xml version="1.0" encoding="UTF-8"?</gi></p>
      </item>
      <item>
        <p>The <code>id</code> attribute on the html tag</p>
      </item>
      <item>
        <p>All <code>link</code> and <code>a</code>
        tags</p>
      </item>
      <item>
        <p>Some meta tags, including
        <code>dc.publisher.sortable</code>,
        <code>wr.sortable</code>,
        <code>wr.word-count</code></p>
      </item>
      <item>
        <p>Meta attributes have been reorded so that name is first for
        readability</p>
      </item>
      <item>
        <p>Paragraph <code>id</code> attributes</p>
      </item>
      <item>
        <p>The translation <code>div</code> (not shown in this
        example)</p>
      </item>
    </list>
    <p>And the attributes on <code>meta</code> tags have been
    reorded. The name attribute is first to aid readability, and the
    meta tags have been sorted by the name attribute.</p>
  </div>
  <div xml:id="committing-changes">
    <head>Committing Changes</head>
    <p>After you've made a set of changes (i.e. before you take a break
    or before the end of your work day) and confirmed that they were
    valid, you need to commit those changes to the repository. To do
    that, navigate to GitHub Desktop, which should show you a list of
    changes that you've made: <figure>
      <figDesc>Changes</figDesc>
      <graphic url="images/changes.png"/>
    </figure></p>
    <p>It is a good idea to review those changes to make sure everything
    looks right (i.e. all of the files that you actually changed are
    listed; there are no additional changes). (You may see that the
    <code>reports.xpr</code> oXygen project file has changed
    even though you didn't do anything to it—that's expected).</p>
    <p>Assuming that everything looks correct, you can then commit those
    files by filling out the commit message boxes in the bottom
    left-hand corner.</p>
    <p>These commit messages are helpful for record keeping and for
    tracking changes to the files; note that these commit messages are
    both permanent and public. In the <code>Summary</code>
    field, add a brief description of what you've done (i.e. "Added
    index items for vol7"). If there is additional information
    you'd like to add, put a longer explanation in the
    <code>Description</code> box.</p>
  </div>
  <div xml:id="pushing-changes-to-github">
    <head>Pushing Changes to GitHub</head>
    <p>Once you have committed your changes, you must push the changes
    to GitHub's servers. Do that by clicking the "Push Origin"
    button in the GitHub Desktop window.</p>
    <p><figure>
      <figDesc>Post commit</figDesc>
      <graphic url="images/post_commit.png"/>
    </figure></p>
  </div>
  <div xml:id="creating-a-pull-request">
    <head>Creating a Pull Request</head>
    <p>When you have completed work on one paper and are ready for your
    changes to be incorporated into the central Wilde Trials repository
    you should create a pull request. This is done through the GitHub
    website.</p>
    <p>Open the GitHub web page for your fork of the Wilde Reports
    repository. There should be a message similar to "This branch
    is 1 commit ahead of sfu_dhil:main." Next to the message is a
    <code>Contribute</code> drop down. Use the
    <code>Open pull request</code> button to start a pull
    request.</p>
    <p><figure>
      <figDesc>Open pull request</figDesc>
      <graphic url="images/github_open_pull_request.png"/>
    </figure></p>
    <p>Now is another chance to review your work. Check carefully, and
    if you need to make changes, return to oXygenXML and edit the
    appropriate file. Commit and push any corrections.</p>
    <p>Once you are satisfied with the changes, use the
    <code>Create pull request</code> button. Create the pull
    request by filling out the message <code>Title</code> and
    <code>comment</code> boxes. In some cases GitHub may
    pre-fill the title and comment fields. Check that they are accurate
    and edit add any additional information you believe is
    important.</p>
    <p>These pull request messages are helpful for record keeping and
    for tracking chages to the reports. They are permanent and may be
    public in the future.</p>
    <p><figure>
      <figDesc>Create pull Request</figDesc>
      <graphic url="images/github_create_pull_request.png"/>
    </figure></p>
  </div>
</div>

<div xml:space="preserve" xml:id="transcribing_editing">
  <head>Transcribing and Editing</head>
  <p>The following instructions apply to transcriptions of the reports
  in the Wilde Trials News Archive.</p>
  <div xml:id="template">
    <head>Template</head>
    <egXML xmlns="http://www.tei-c.org/ns/Examples">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>PAPER TITLE - DAY, MONTH, DATE YEAR</title>
    <meta name="dc.date" content="YYYY-MM-DD"/>
    <meta name="dc.language" content=""/>
    <meta name="dc.publisher" content=""/>
    <meta name="dc.region" content=""/>
    <meta name="dc.region.city" content=""/>
    <meta name="dc.source.database" content=""/>
    <meta name="dc.source.facsimile" content=""/>
    <meta name="dc.source.url" content=""/>
  </head>
  <body>
    <div id="original" lang="">
    <p class="heading">LINE 1<br/>
    LINE 2</p>
    <p>This is a complete paragraph as [...] in a report.</p>
    <p class="signature">AUTHOR</p>
    </div>
  </body>
</html>
</egXML>
  </div>
  <div xml:id="metadata">
    <head>Metadata</head>
    <list type="unordered">
      <item>
        <p><code>dc.date</code> is the date the report was
        published. It must be formatted as shown.</p>
      </item>
      <item>
        <p><code>dc.language</code> is the ISO code for the
        language of the report. It must be one of the following values.
        Additional language support can be added if necessary.</p>
      </item>
      <item>
        <p><code>de</code> German</p>
      </item>
      <item>
        <p><code>en</code> English</p>
      </item>
      <item>
        <p><code>es</code> Spanish</p>
      </item>
      <item>
        <p><code>fr</code> French</p>
      </item>
      <item>
        <p><code>it</code> Italian</p>
      </item>
      <item>
        <p><code>dc.publisher</code> is the title of the paper
        or the name of the publisher.</p>
      </item>
      <item>
        <p><code>dc.region</code> is the country or other
        national entity where the report was published. Examples include
        Australia, Britain (not "British", not
        "England"), and Canada.</p>
      </item>
      <item>
        <p><code>dc.region.city</code> is the detailed
        location where the report was published</p>
      </item>
      <item>
        <p>TODO: add dc.source fields.</p>
      </item>
    </list>
  </div>
  <div xml:id="content">
    <head>Content</head>
    <p>The Wilde Trials content includes automatically generated
    translations of non-English reports. We use
    <gi>div</gi> tags to distunguish the original
    and translated content.</p>
    <p>Every report must include
    <gi>div id="original" lang=""</gi>
    and a corresponding <gi>/div</gi> tag. The
    value of the <code>lang</code> attribute must match the
    <code>content</code> of the
    <code>dc.language</code> meta tag.</p>
    <div xml:id="headings--signatures">
      <head>Headings &amp; Signatures</head>
      <p>Headings are marked up in paragraph tags
      (<gi>p&gt;...&lt;/p</gi>) with the class set
      to "heading". Normal paragraphs do not include a class.
      Some reports include an author name. Those signatures are marked
      up in a paragraph with the class set to "signature".
      There are no other allowable classes for paragraphs.</p>
    </div>
    <div xml:id="formatting">
      <head>Formatting</head>
      <p>Line breaks (<gi>br/</gi>) can be used
      inside paragraphs. They cannot be used outside of paragraphs or
      anywhere else.</p>
      <p>Text may be marked up as italicized
      (<gi>i&gt;...&lt;/i</gi>) or bolded
      (<gi>b&gt;...&lt;/b</gi>).</p>
    </div>
    <div xml:id="omittedunreadable-content">
      <head>Omitted/unreadable Content</head>
      <p>Any text that is unreadable in the original report or facsimile
      is indicated with square brackets and three periods:
      <code>[...]</code>. Spaces are not allowed inside the
      square brackets or between the periods.</p>
    </div>
  </div>
</div>

         
      </body>
      <back>
         <div>
            <head>Appendix</head>
            <schemaSpec ident="wildeReports" start="html" ns="http://www.w3.org/1999/xhtml">

               <moduleSpec ident="xhtml5">
                  <desc>Base schema for Wilde Trials XHTML 5 Reports.</desc>
               </moduleSpec>

               <elementSpec ident="html" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>Root element for HTML documents</desc>
                  <classes>
                     <memberOf key="att.id"/>
                  </classes>
                  <content>
                     <sequence>
                        <elementRef key="head" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="body" minOccurs="1" maxOccurs="1"/>
                     </sequence>
                  </content>
               </elementSpec>

               <elementSpec ident="head" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>Container for the report metadata</desc>
                  <content>
                     <sequence>
                        <elementRef key="title" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="meta" minOccurs="6" maxOccurs="unbounded"/>
                        <elementRef key="link" minOccurs="0" maxOccurs="unbounded"/>
                     </sequence>
                  </content>
               </elementSpec>

               <elementSpec ident="title" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>Container for the title of the report and the date it was published</desc>
                  <content>
                     <textNode/>
                  </content>
                  <constraintSpec ident="title_format" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:title">
                           <sch:let name="title" value="normalize-space(.)"/>
                           <sch:let name="date" value="format-date(//xh:meta[@name='dc.date']/@content, '[FNn], [MNn] [D], [Y0001]')"/>
                           <sch:let name="publisher" value="//xh:meta[@name='dc.publisher']/@content"/>
                           <sch:let name="expected" value="concat($publisher, ' - ', $date)"/>
                           <sch:assert test="$expected = $title"> Title should be <sch:value-of select="$expected"/>
                           </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>
               </elementSpec>

               <elementSpec ident="meta" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>Name and content pairs that describe the report</desc>
                  <content>
                     <empty/>
                  </content>

                  <constraintSpec ident="meta_url_constraints" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:meta[@name='dc.source.url' or @name='dc.source.facsimile']">
                           <sch:assert test="matches(@content, '^https?://')"> Must be a proper URL
                           </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>

                  <constraintSpec ident="meta_region_constraints" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:meta[@name='dc.region']">
                           <sch:assert test="@content = ('Algeria','Australia','Austria','Bahamas','Belgium','Britain','Canada','Dominica','Egypt','France','Germany','Ireland','Italy','Jamaica','Malta','Mauritius','Mexico','Northern Ireland','Panama','Puerto Rico','Spain','Sri Lanka','Switzerland','Turkey','United States','Vietnam')"> Region must be one of Algeria, Australia, Austria, Bahamas, Belgium,
                              Britain, Canada, Dominica, Egypt, France, Germany, Ireland, Italy,
                              Jamaica, Malta, Mauritius, Mexico, Northern Ireland, Panama, Puerto
                              Rico, Spain, Sri Lanka, Switzerland, Turkey, United States, Vietnam
                           </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>

                  <constraintSpec ident="meta_date_constraints" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:meta[@name='dc.date' or @name='dc.date.updated']">
                           <sch:assert test="matches(@content, '^\d\d\d\d-\d\d-\d\d$')"> Date must be formatted as
														 YYYY-MM-DD </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>

                  <constraintSpec ident="meta_lang_constraints" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:meta[@name='dc.language']">
                           <sch:assert test="matches(@content, '^(de|en|es|fr|it)$')"> The content attribute for dc.language must
														  be one de, en, es, fr, it. </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>

                  <attList>
                     <attDef ident="content">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="name">
                        <valList type="closed">
                           <valItem ident="dc.date">
                              <desc>Date that the report was published</desc>
                           </valItem>
                           <valItem ident="dc.language">
                              <desc>Primary language of the report</desc>
                           </valItem>
                           <valItem ident="dc.publisher">
                              <desc>Name of the newspaper or publisher of the paper</desc>
                           </valItem>
                           <valItem ident="dc.publisher.edition">
                              <desc>Optional. If the report appeared in a special edition include it
                                 here.</desc>
                           </valItem>
                           <valItem ident="dc.region">
                              <desc>The name of the region where the report was published</desc>
                           </valItem>
                           <valItem ident="dc.region.city">
                              <desc>The name of the city where the report was published</desc>
                           </valItem>
                           <valItem ident="dc.source"/>
                           <valItem ident="dc.source.database"/>
                           <valItem ident="dc.source.facsimile"/>
                           <valItem ident="dc.source.institution"/>
                           <valItem ident="dc.source.url"/>

                           <valItem ident="dc.publisher.id">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="dc.publisher.sortable">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="dc.date.updated">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wr.sortable">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wr.translated">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wd.translated">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wr.word-count">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wr.wordcount">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="index.document">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="index.paragraph">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                        </valList>
                     </attDef>

                     <attDef ident="data-sortable">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="body" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>Container for the original report and optional translation</desc>
                  <content>
                     <elementRef key="div" minOccurs="1" maxOccurs="2"/>
                  </content>
                  <constraintSpec ident="div_id" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:assert test="xh:div[@id='original']"> One div with id='original' is
                           required. </sch:assert>
                     </constraint>
                  </constraintSpec>
               </elementSpec>

               <elementSpec ident="div" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>Container for one report or one translation. May only contain paragraph tags.</desc>
                  <classes>
                     <memberOf key="att.id"/>
                  </classes>
                  <content>
                     <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                  </content>
                  <constraintSpec ident="div_lang" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:let name="metalang" value="//xh:meta[@name='dc.language']/@content/string()"/>                        
                        <sch:let name="divlang" value="//xh:div[@id='original']/@lang/string()"/>                        
                        <sch:assert test="$metalang = $divlang">The language on the original 
                           div (<sch:value-of select="$divlang"/>) must match the language in the 
                           metadata (<sch:value-of select="$metalang"/>).</sch:assert>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="id" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="original">
                              <gloss>Original text</gloss>
                           </valItem>
                           <valItem ident="translation">
                              <gloss>Translated text</gloss>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="lang">
                        <valList type="closed">
                           <valItem ident="de">
                              <gloss>German</gloss>
                           </valItem>
                           <valItem ident="en">
                              <gloss>English</gloss>
                           </valItem>
                           <valItem ident="es">
                              <gloss>Spanish</gloss>
                           </valItem>
                           <valItem ident="fr">
                              <gloss>French</gloss>
                           </valItem>
                           <valItem ident="it">
                              <gloss>Italian</gloss>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="p" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>General container tag for paragraphs, headings, and signatures.</desc>                  
                  <classes>
                     <memberOf key="att.id"/>
                  </classes>
                  <content>
                     <sequence>
                        <alternate minOccurs="0" maxOccurs="unbounded">
                           <textNode/>
                           <classRef key="model.phrase"/>
                        </alternate>
                        <elementRef key="a" minOccurs="0" maxOccurs="unbounded"/>
                     </sequence>
                  </content>

                  <constraintSpec ident="p_punct" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:let name="text" value="normalize-space(.)"/>
                        <sch:let name="last" value="substring($text, string-length($text))"/>
                        <sch:assert test="@class or matches($last, '^[.!?]$') or ($text = '[...]')">
                           Paragraphs should not end in "<sch:value-of select="$last"/>" instead of
                           . ! or ?. </sch:assert>
                     </constraint>
                  </constraintSpec>

                  <constraintSpec ident="p_ellipsis" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:let name="text" value="normalize-space(string())"/>
                        <sch:assert test="not(matches($text, '\[\s*\.\.\.\s*[^\]]'))"> Open bracket
                           [ must have closing braket ] </sch:assert>
                        <sch:assert test="not(matches($text, '[^\[]\s*\.\.\.\s*\]'))"> Close bracket
                           ] does not correspond to open bracket [ </sch:assert>
                        <sch:assert test="not(matches($text, '(\[\s+\.\.\.)|(\.\.\.\s+\])'))">
                           Spaces are not allowed between brackets and elipsis </sch:assert>
                        <sch:assert test="not(matches($text, '(\.\s+\.\.)|(\.\.\s+\.)'))"> Spaces
                           are not allowed inside elipsis </sch:assert>
                        <sch:assert test="not($text = '[...]')"> Omitted/unrelated paragraphs should
                           not be indicated with &lt;p&gt;[...]&lt;/p&gt;
                        </sch:assert>
                     </constraint>
                  </constraintSpec>

                  <attList>
                     <attDef ident="class">
                        <valList type="closed">
                           <valItem ident="heading"/>
                           <valItem ident="signature"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="a">
                  <desc>Added automatically by the processing tools. Do not add or edit.</desc>
                  <content>
                     <empty/>
                  </content>
                  <attList>
                     <attDef ident="href">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="class">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="data-document">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="data-paragraph">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="data-similarity">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="data-type">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="data-paper-id">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="link">
                  <desc>Added automatically by the processing tools. Do not add or edit.</desc>
                  <content>
                     <empty/>
                  </content>
                  <attList>
                     <attDef ident="href">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="class">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="rel">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="data-similarity">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="data-type">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                     <attDef ident="data-paper-id">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="b" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>Indicates text that was printed in boldface in the original.</desc>
                  <classes>
                     <memberOf key="model.phrase"/>
                  </classes>
                  <content>
                     <alternate minOccurs="0" maxOccurs="unbounded">
                        <textNode/>
                        <classRef key="model.phrase"/>
                     </alternate>
                  </content>
               </elementSpec>

               <elementSpec ident="br" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>A significant line break in the report, different from text wrapped at the end of a column.</desc>
                  <classes>
                     <memberOf key="model.phrase"/>
                  </classes>
                  <content>
                     <empty/>
                  </content>
               </elementSpec>

               <elementSpec ident="i" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
                  <desc>Indicates text that was printed in italics in the original.</desc>
                  <classes>
                     <memberOf key="model.phrase"/>
                  </classes>
                  <content>
                     <alternate minOccurs="0" maxOccurs="unbounded">
                        <textNode/>
                        <classRef key="model.phrase"/>
                     </alternate>
                  </content>
               </elementSpec>

               <classSpec type="atts" ident="att.id" module="xhtml5">
                  <desc>Groups elements which may have IDs</desc>
                  <attList>
                     <attDef ident="id" usage="opt">
                        <datatype>
                           <dataRef name="ID"/>
                        </datatype>
                     </attDef>
                  </attList>
               </classSpec>

               <classSpec type="model" ident="model.phrase" module="xhtml5">
                  <desc>Groups elements which can appear at the phrase level.</desc>
               </classSpec>

            </schemaSpec>
         </div>
      </back>
   </text>
</TEI>