schema/reports.expanded.odd

<?xml version="1.0" encoding="utf-8"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:xh="http://www.w3.org/1999/xhtml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:base="file:/Users/michael/Documents/sfu/wilde-schema/schema/reports.odd"><?TEIVERSION Version 4.3.0. Last updated on
        31st August 2021, revision b4f72b1ff?>
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Schema and Documentation for the <title level="m">Wilde Trials News
                  Archive</title> Reports</title>
         </titleStmt>
         <publicationStmt>
            <p>This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike
               4.0 International License.</p>
         </publicationStmt>
         <sourceDesc>
            <p>Created to provide a highly constrained XHTML 5 vocabulary for the report
               transcriptions in the Wilde Trails News Archive.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <front>
         <div>
            <head>
               <title>Wilde Trials News International Archive</title>
            </head>
            <p>This document serves as the technical documentation for the <title>Wilde Trials International News
                  Archive</title>. At the moment (mid 2021) it is a collection of guidelines to
               help with transcribing the news reports and documenting the project workflow.</p>
            <p>If you find an error in this document or have suggestions for improvement, please
               create a <ref target="https://github.com/sfu-dhil/wilde-schema/issues">GitHub
                  Issue</ref>. All suggestions are welcome.</p>
            <p>The included schema was inspired by <ref target="https://journals.openedition.org/jtei/3106">Using ODD for HTML</ref> by
               Martin Holmes. This documentation and publishing set up borrows heavily from the <ref target="https://sfu-dhil.github.io/lim-schema/index.html">Lyon in Mourning</ref>
               schema and documentation written by Joey Takeda. The guidelines for collecting
							 and editing the news reports have been developed, over several years,
							 by the PI and the team of research assistants.</p>
         </div>
      </front>
      <body>
         <div>
            <divGen xml:id="index"/>
         </div>
      </body>
      <back>
         <div>
            <head>Appendix</head>
            <schemaSpec xmlns:teix="http://www.tei-c.org/ns/Examples" ident="wildeReports" start="html" ns="http://www.w3.org/1999/xhtml" defaultExceptions="http://www.tei-c.org/ns/1.0 teix:egXML" source="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml"><moduleSpec ident="xhtml5">
                  <desc>Base schema for Wilde Trials XHTML 5 Reports.</desc>
               </moduleSpec><elementSpec rend="add" ident="html" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>Root element for HTML documents</desc><classes>
                     <memberOf key="att.id"/>
                  </classes><content>
                     <sequence minOccurs="1" maxOccurs="1"><elementRef key="head" minOccurs="1" maxOccurs="1"/><elementRef key="body" minOccurs="1" maxOccurs="1"/></sequence>
                  </content></elementSpec><elementSpec rend="add" ident="head" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>Container for the report metadata</desc><content>
                     <sequence minOccurs="1" maxOccurs="1"><elementRef key="title" minOccurs="1" maxOccurs="1"/><elementRef key="meta" minOccurs="6" maxOccurs="unbounded"/><elementRef key="link" minOccurs="0" maxOccurs="unbounded"/></sequence>
                  </content></elementSpec><elementSpec rend="add" ident="title" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>Container for the title of the report and the date it was published</desc><content>
                     <textNode/>
                  </content><constraintSpec ident="title_format" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:title">
                           <sch:let name="title" value="normalize-space(.)"/>
                           <sch:let name="date" value="format-date(//xh:meta[@name='dc.date']/@content, '[FNn], [MNn] [D], [Y0001]')"/>
                           <sch:let name="publisher" value="//xh:meta[@name='dc.publisher']/@content"/>
                           <sch:let name="expected" value="concat($publisher, ' - ', $date)"/>
                           <sch:assert test="$expected = $title"> Title should be <sch:value-of select="$expected"/>
                           </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec></elementSpec><elementSpec rend="add" ident="meta" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>Name and content pairs that describe the report</desc><content>
                     <empty/>
                  </content><constraintSpec ident="meta_url_constraints" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:meta[@name='dc.source.url' or @name='dc.source.facsimile']">
                           <sch:assert test="matches(@content, '^https?://')"> Must be a proper URL
                           </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec><constraintSpec ident="meta_region_constraints" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:meta[@name='dc.region']">
                           <sch:assert test="@content = ('Algeria','Australia','Austria','Bahamas','Belgium','Britain','Canada','Dominica','Egypt','France','Germany','Ireland','Italy','Jamaica','Malta','Mauritius','Mexico','New Zealand','Northern Ireland','Panama','Puerto Rico','Spain','Sri Lanka','Switzerland','Turkey','United States','Vietnam')"> Region must be one of Algeria, Australia, Austria, Bahamas, Belgium,
                              Britain, Canada, Dominica, Egypt, France, Germany, Ireland, Italy,
                              Jamaica, Malta, Mauritius, Mexico, New Zealand, Northern Ireland, Panama, 
                              Puerto Rico, Spain, Sri Lanka, Switzerland, Turkey, United States, Vietnam
                           </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec><constraintSpec ident="meta_date_constraints" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:meta[@name='dc.date' or @name='dc.date.updated']">
                           <sch:assert test="matches(@content, '^\d\d\d\d-\d\d-\d\d$')"> Date must
                              be formatted as YYYY-MM-DD </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec><constraintSpec ident="meta_lang_constraints" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:meta[@name='dc.language']">
                           <sch:assert test="matches(@content, '^(de|en|es|fr|it)$')"> The content
                              attribute for dc.language must be one de, en, es, fr, it.
                           </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec><attList><attDef ident="content">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="name">
                        <valList type="closed">
                           <valItem ident="dc.date">
                              <desc>Date that the report was published</desc>
                           </valItem>
                           <valItem ident="dc.language">
                              <desc>Primary language of the report</desc>
                           </valItem>
                           <valItem ident="dc.publisher">
                              <desc>Name of the newspaper or publisher of the paper</desc>
                           </valItem>
                           <valItem ident="dc.publisher.edition">
                              <desc>Optional. If the report appeared in a special edition include it
                                 here.</desc>
                           </valItem>
                           <valItem ident="dc.region">
                              <desc>The name of the region where the report was published</desc>
                           </valItem>
                           <valItem ident="dc.region.city">
                              <desc>The name of the city where the report was published</desc>
                           </valItem>
                           <valItem ident="dc.source"/>
                           <valItem ident="dc.source.database"/>
                           <valItem ident="dc.source.facsimile"/>
                           <valItem ident="dc.source.institution"/>
                           <valItem ident="dc.source.url"/>

                           <valItem ident="dc.publisher.id">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="dc.publisher.sortable">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="dc.date.updated">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wr.sortable">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wr.translated">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wd.translated">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wr.word-count">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="wr.wordcount">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="index.document">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                           <valItem ident="index.paragraph">
                              <desc>Automatically generated. Do not add or edit.</desc>
                           </valItem>
                        </valList>
                     </attDef><attDef ident="data-sortable">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef></attList></elementSpec><elementSpec rend="add" ident="body" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>Container for the original report and optional translation</desc><content>
                     <elementRef key="div" minOccurs="1" maxOccurs="2"/>
                  </content><constraintSpec ident="div_id" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:assert test="xh:div[@id='original']"> One div with id='original' is
                           required. </sch:assert>
                     </constraint>
                  </constraintSpec></elementSpec><elementSpec rend="add" ident="div" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>Container for one report or one translation. May only contain paragraph
                     tags.</desc><classes>
                     <memberOf key="att.id"/>
                  </classes><content>
                     <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                  </content><constraintSpec ident="div_lang" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:let name="metalang" value="//xh:meta[@name='dc.language']/@content/string()"/>
                        <sch:let name="divlang" value="//xh:div[@id='original']/@lang/string()"/>
                        <sch:assert test="$metalang = $divlang">The language on the original div
                              (<sch:value-of select="$divlang"/>) must match the language in the
                           metadata (<sch:value-of select="$metalang"/>).</sch:assert>
                     </constraint>
                  </constraintSpec><attList><attDef ident="id" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="original">
                              <gloss>Original text</gloss>
                           </valItem>
                           <valItem ident="translation">
                              <gloss>Translated text</gloss>
                           </valItem>
                        </valList>
                     </attDef><attDef ident="lang">
                        <valList type="closed">
                           <valItem ident="de">
                              <gloss>German</gloss>
                           </valItem>
                           <valItem ident="en">
                              <gloss>English</gloss>
                           </valItem>
                           <valItem ident="es">
                              <gloss>Spanish</gloss>
                           </valItem>
                           <valItem ident="fr">
                              <gloss>French</gloss>
                           </valItem>
                           <valItem ident="it">
                              <gloss>Italian</gloss>
                           </valItem>
                        </valList>
                     </attDef></attList></elementSpec><elementSpec rend="add" ident="p" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>General container tag for paragraphs, headings, and signatures.</desc><classes>
                     <memberOf key="att.id"/>
                  </classes><content>
                     <sequence minOccurs="1" maxOccurs="1"><alternate minOccurs="0" maxOccurs="unbounded"><textNode/><classRef key="model.phrase"/></alternate><elementRef key="a" minOccurs="0" maxOccurs="unbounded"/></sequence>
                  </content><constraintSpec ident="p_ellipsis" scheme="schematron">
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:let name="text" value="normalize-space(string())"/>
                        <sch:assert test="not(matches($text, '\[\s*\.\.\.\s*[^\]]'))"> Open bracket
                           [ must have closing braket ] </sch:assert>
                        <sch:assert test="not(matches($text, '[^\[]\s*\.\.\.\s*\]'))"> Close bracket
                           ] does not correspond to open bracket [ </sch:assert>
                        <sch:assert test="not(matches($text, '(\[\s+\.\.\.)|(\.\.\.\s+\])'))">
                           Spaces are not allowed between brackets and elipsis </sch:assert>
                        <sch:assert test="not(matches($text, '(\.\s+\.\.)|(\.\.\s+\.)'))"> Spaces
                           are not allowed inside elipsis </sch:assert>
                        <sch:assert test="not($text = '[...]')"> Omitted/unrelated paragraphs should
                           not be indicated with &lt;p&gt;[...]&lt;/p&gt;. Use &lt;p class='omitted'&gt;&lt;/p&gt; instead
                        </sch:assert>
                     </constraint>
                  </constraintSpec><constraintSpec ident="p_omitted" scheme="schematron"> 
                     <constraint>
                        <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:rule context="xh:p[@class = 'omitted']">
                           <sch:assert test="normalize-space(.) = ''">
                              Omitted paragraphs must be empty
                           </sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec><attList><attDef ident="class">
                        <valList type="closed">
                           <valItem ident="heading">
                              <desc>The paragraph contains a headine</desc>
                           </valItem>
                           <valItem ident="omitted">
                              <desc>The content was omitted from the transcription because it is not related to the trials of Oscar Wilde</desc>
                           </valItem>
                           <valItem ident="signature">
                              <desc>The paragraph contains the name or initials of the author</desc>
                           </valItem>
                        </valList>
                     </attDef></attList></elementSpec><elementSpec rend="add" module="derived-module-wildeReports" ident="a"><desc>Added automatically by the processing tools. Do not add or edit.</desc><content>
                     <empty/>
                  </content><attList><attDef ident="href">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="class">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="data-document">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="data-paragraph">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="data-similarity">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="data-type">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="data-paper-id">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef></attList></elementSpec><elementSpec rend="add" module="derived-module-wildeReports" ident="link"><desc>Added automatically by the processing tools. Do not add or edit.</desc><content>
                     <empty/>
                  </content><attList><attDef ident="href">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="class">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="rel">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="data-similarity">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="data-type">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef><attDef ident="data-paper-id">
                        <datatype>
                           <dataRef key="teidata.text"/>
                        </datatype>
                     </attDef></attList></elementSpec><elementSpec rend="add" ident="b" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>Indicates text that was printed in boldface in the original.</desc><classes>
                     <memberOf key="model.phrase"/>
                  </classes><content>
                     <alternate minOccurs="0" maxOccurs="unbounded"><textNode/><classRef key="model.phrase"/></alternate>
                  </content></elementSpec><elementSpec rend="add" ident="br" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>A significant line break in the report, different from text wrapped at the
                     end of a column.</desc><classes>
                     <memberOf key="model.phrase"/>
                  </classes><content>
                     <empty/>
                  </content></elementSpec><elementSpec rend="add" ident="i" ns="http://www.w3.org/1999/xhtml" module="xhtml5"><desc>Indicates text that was printed in italics in the original.</desc><classes>
                     <memberOf key="model.phrase"/>
                  </classes><content>
                     <alternate minOccurs="0" maxOccurs="unbounded"><textNode/><classRef key="model.phrase"/></alternate>
                  </content></elementSpec><classSpec rend="add" type="atts" ident="att.id" module="xhtml5">
                  <desc>Groups elements which may have IDs</desc>
                  <attList>
                     <attDef ident="id" usage="opt">
                        <datatype>
                           <dataRef name="ID"/>
                        </datatype>
                     </attDef>
                  </attList>
               </classSpec><classSpec rend="add" predeclare="true" type="model" ident="model.phrase" module="xhtml5">
                  <desc>Groups elements which can appear at the phrase level.</desc>
               </classSpec></schemaSpec>
         </div>
      </back>
   </text>
</TEI>