schema/reports.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" 
   xmlns:sch="http://purl.oclc.org/dsdl/schematron"
   xmlns:xh="http://www.w3.org/1999/xhtml"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Title</title>
         </titleStmt>
         <publicationStmt>
            <p>Publication Information</p>
         </publicationStmt>
         <sourceDesc>
            <p>Information about the source</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="myTEI" start="html" ns="http://www.w3.org/1999/xhtml">

            <moduleSpec ident="xhtml5">
               <desc>Base schema for all XHTML 5 elements.</desc>
            </moduleSpec>

            <elementSpec ident="html" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <classes>
                  <memberOf key="att.id"/>
               </classes>
               <content>
                  <sequence>
                     <elementRef key="head" minOccurs="1" maxOccurs="1"/>
                     <elementRef key="body" minOccurs="1" maxOccurs="1"/>
                  </sequence>
               </content>
            </elementSpec>

            <elementSpec ident="head" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <content>
                  <sequence>
                     <elementRef key="title" minOccurs="1" maxOccurs="1"/>
                     <elementRef key="meta" minOccurs="6" maxOccurs="unbounded"/>
                     <elementRef key="link" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </content>
            </elementSpec>

            <elementSpec ident="title" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <content>
                  <textNode/>
               </content>
               <constraintSpec ident="title_format" scheme="schematron">
                  <constraint>
                     <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                     <sch:rule context="xh:title">
                        <sch:let name="title" value="normalize-space(.)"/>
                        <sch:let name="date" value="format-date(//xh:meta[@name='dc.date']/@content, '[FNn], [MNn] [D], [Y0001]')"/>
                        <sch:let name="publisher" value="//xh:meta[@name='dc.publisher']/@content"/>
                        <sch:let name="expected" value="concat($publisher, ' - ', $date)"/>
                        <sch:assert test="$expected = $title">
                           Title should be <sch:value-of select="$expected"/>
                        </sch:assert>                     
                     </sch:rule>
                  </constraint>
               </constraintSpec>
            </elementSpec>

            <elementSpec ident="meta" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <content>
                  <empty/>
               </content>
               
               <constraintSpec ident="meta_url_constraints" scheme="schematron">
                  <constraint>
                     <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                     <sch:rule context="xh:meta[@name='dc.source.url' or @name='dc.source.facsimile']">
                        <sch:assert test="matches(@content, '^https?://')">
                           Must be a proper URL
                        </sch:assert>                     
                     </sch:rule>
                  </constraint>
               </constraintSpec>
               
               <constraintSpec ident="meta_date_constraints" scheme="schematron">
                  <constraint>
                     <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                     <sch:rule context="xh:meta[@name='dc.date' or @name='dc.date.updated']">
                        <sch:assert test="matches(@content, '^\d\d\d\d-\d\d-\d\d$')">
                           Must be YYYY-MM-DD
                        </sch:assert>                     
                     </sch:rule>
                  </constraint>
               </constraintSpec>
               
               <constraintSpec ident="meta_lang_constraints" scheme="schematron">
                  <constraint>
                     <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                     <sch:rule context="xh:meta[@name='dc.language']">
                        <sch:assert test="matches(@content, '^(de|en|es|fr|it)$')">
                           Must be one of de, en, es, fr, it.
                        </sch:assert>                     
                     </sch:rule>
                  </constraint>
               </constraintSpec>
               
               <attList>
                  <attDef ident="content">
                     <datatype>
                        <dataRef key="teidata.text"/>
                     </datatype>
                  </attDef>
                  <attDef ident="name">
                     <valList type="closed">
                        <valItem ident="dc.date"/>
                        <valItem ident="dc.language"/>
                        <valItem ident="dc.publisher"/>
                        <valItem ident="dc.publisher.edition"/>
                        <valItem ident="dc.region"/>
                        <valItem ident="dc.region.city"/>
                        <valItem ident="dc.source"/>
                        <valItem ident="dc.source.database"/>
                        <valItem ident="dc.source.facsimile"/>
                        <valItem ident="dc.source.institution"/>
                        <valItem ident="dc.source.url"/>
                        
                        <valItem ident="dc.publisher.id"/>
                        <valItem ident="dc.publisher.sortable"/>
                        <valItem ident="dc.date.updated"/>
                        <valItem ident="wr.sortable"/>
                        <valItem ident="wr.translated"/>
                        <valItem ident="wd.translated"/>
                        <valItem ident="wr.word-count"/>
                        <valItem ident="wr.wordcount"/>
                        <valItem ident="index.document"/>
                        <valItem ident="index.paragraph"/>
                     </valList>
                  </attDef>
                  
                  <attDef ident="data-sortable">
                     <datatype>
                        <dataRef key="teidata.text"/>
                     </datatype>
                  </attDef>
               </attList>
            </elementSpec>

            <elementSpec ident="body" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <content>
                  <elementRef key="div" minOccurs="1" maxOccurs="2"/>
               </content>
               <constraintSpec ident="div_id" scheme="schematron">
                  <constraint>
                     <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                        <sch:assert test="xh:div[@id='original']">
                           One div with id='original' is required.                           
                        </sch:assert>                     
                  </constraint>
               </constraintSpec>
            </elementSpec>

            <elementSpec ident="div" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <classes>
                  <memberOf key="att.id"/>
               </classes>
               <content>
                  <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
               </content>
               <attList>
                  <attDef ident="id" mode="replace" usage="req">
                     <valList type="closed">
                        <valItem ident="original"><gloss>Original text</gloss></valItem>
                        <valItem ident="translation"><gloss>Translated text</gloss></valItem>
                     </valList>
                  </attDef>
                  <attDef ident="lang">
                     <valList type="closed">
                        <valItem ident="de">
                           <gloss>German</gloss>
                        </valItem>
                        <valItem ident="en">
                           <gloss>English</gloss>
                        </valItem>
                        <valItem ident="es">
                           <gloss>Spanish</gloss>
                        </valItem>
                        <valItem ident="fr">
                           <gloss>French</gloss>
                        </valItem>
                        <valItem ident="it">
                           <gloss>Italian</gloss>
                        </valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>

            <elementSpec ident="p" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <classes>
                  <memberOf key="att.id"></memberOf>
               </classes>               
               <content>
                  <sequence>                     
                     <alternate minOccurs="0" maxOccurs="unbounded">
                        <textNode/>
                        <classRef key="model.phrase"/>
                     </alternate>
                     <elementRef key="a" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </content>
               
               <constraintSpec ident="p_punct" scheme="schematron">
                  <constraint>
                     <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                     <sch:let name="text" value="normalize-space(.)"/>
                     <sch:let name="last" value="substring($text, string-length($text))" />
                     <sch:assert test="@class or matches($last, '^[.!?]$') or ($text = '[...]')">
                        Paragraphs should not end in "<sch:value-of select="$last"/>" instead of . ! or ?.                          
                     </sch:assert>
                  </constraint>
               </constraintSpec>
               
               <constraintSpec ident="p_ellipsis" scheme="schematron">
                  <constraint>
                     <sch:ns uri="http://www.w3.org/1999/xhtml" prefix="xh"/>
                     <sch:let name="text" value="normalize-space(text())"/>
                     
                     <sch:assert test="not(matches($text, '\[\s*\.\.\.\s*[^\]]'))">
                        Open bracket [ must have closing braket ]    
                     </sch:assert>
                     
                     <sch:assert test="not(matches($text, '[^\[]\s*\.\.\.\s*\]'))">
                        Close bracket ] does not correspond to open bracket [    
                     </sch:assert>
                     
                     <sch:assert test="not(matches($text, '(\[\s+\.\.\.)|(\.\.\.\s+\])'))">
                        Spaces are not allowed between brackets and elipsis
                     </sch:assert>
                     
                     <sch:assert test="not(matches($text, '(\.\s+\.\.)|(\.\.\s+\.)'))">
                        Spaces are not allowed inside elipsis
                     </sch:assert>
                     
                     <sch:assert test="not($text = '[...']">
                        Omitted paragraphs are not indicated with <![CDATA[<p>[...]</p>]]>
                     </sch:assert>
                     
                  </constraint>
               </constraintSpec>
               
               <attList>
                  <attDef ident="class">
                     <valList type="closed">
                        <valItem ident="heading"/>
                        <valItem ident="signature"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>

            <elementSpec ident="a">
               <content>
                  <empty/>
               </content>
               <attList>
                  <attDef ident="href"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="class"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="data-document"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="data-paragraph"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="data-similarity"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="data-type"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="data-paper-id"><datatype><dataRef key="teidata.text"/></datatype></attDef>
               </attList>
            </elementSpec>

            <elementSpec ident="link">
               <content>
                  <empty/>
               </content>
               <attList>
                  <attDef ident="href"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="class"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="rel"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="data-similarity"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="data-type"><datatype><dataRef key="teidata.text"/></datatype></attDef>
                  <attDef ident="data-paper-id"><datatype><dataRef key="teidata.text"/></datatype></attDef>
               </attList>
            </elementSpec>
            
            <elementSpec ident="b" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <classes>
                  <memberOf key="model.phrase"/>
               </classes>
               <content>
                  <alternate minOccurs="0" maxOccurs="unbounded">
                     <textNode/>
                     <classRef key="model.phrase"/>
                  </alternate>
               </content>
            </elementSpec>

            <elementSpec ident="br" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <classes>
                  <memberOf key="model.phrase"/>
               </classes>
               <content>
                  <empty/>
               </content>
            </elementSpec>
            
            <elementSpec ident="i" ns="http://www.w3.org/1999/xhtml" module="xhtml5">
               <classes>
                  <memberOf key="model.phrase"/>
               </classes>
               <content>
                  <alternate minOccurs="0" maxOccurs="unbounded">
                     <textNode/>
                     <classRef key="model.phrase"/>
                  </alternate>
               </content>
            </elementSpec>

            <classSpec type="atts" ident="att.id" module="xhtml5">
               <desc>Groups elements which may have IDs</desc>
               <attList>
                  <attDef ident="id" usage="opt">
                     <datatype>
                        <dataRef name="ID"/>
                     </datatype>
                  </attDef>
               </attList>
            </classSpec>

            <classSpec type="model" ident="model.phrase" module="xhtml5">
               <desc>Groups elements which can appear at the phrase level.</desc>
            </classSpec>

         </schemaSpec>
      </body>
   </text>
</TEI>
